<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
    
    <cm:property-placeholder persistent-id="se.oppnadata.ckan" update-strategy="reload" >
		<cm:default-properties>
			<cm:property name="ckanCatalogHost" value=""/>
	</cm:default-properties>
	</cm:property-placeholder>
    <service interface="se.oppnadata.portal.ckan.api.CKANService">
        <service-properties>
        	<entry key="serviceName" value="ckanService"/>
        </service-properties>
        <bean class="se.oppnadata.portal.ckan.service.CKANServiceBean">
        	<property name="ckanCatalogHost" value="${ckanCatalogHost}"></property>
        </bean>
    </service>
</blueprint>