body {
    background: #fff;
}

h1 {
    color: @blue1;
}

h2,
h3,
h4 {
    color: @blue2;
}

a {
    color: @blue1;
}

a:hover {
    color: @blue2;
}

#main h2 a {
    color: @purple1;
}

div.meta span.submitted {
    color: @gray2;
}

ul.links.inline a{
    color: @gray1;
}

aside {
    // .push(2);
    ul.menu {
        a {
            color: @pink1;
        }
        ul a {
            color: @gray1;
        }
    }
}
