body {
    background: @bodyBackgroundColor;
}

body > header {
    background: @headerBackgroundColor;
    border-bottom: 1px solid @borderColor;
}

body > footer {
    background-color: @footerBackgroundColor;
    border-top: 4px solid @borderColor;
}

nav {
    background-color: @headerBackgroundColor;
}

#main {
    background-color: @contentBackgroundColor;
}

#main aside {
    background-color: @sidebarRightBackgroundColor;
    .block {
        background-color: @sidebarRightBackgroundColor;
        .head {
            border-bottom: 6px solid @headBorderColor;
        }
    }
}


#breadcrumb {
    background-color: @breadcrumbBackgroundColor;
}



header h1 {
    a {
        color: @headerH1Color;
    }
    a:hover {
        color: @headerH1AColor;
    }
}

h2,
h3,
h4 {
    color: @blue2;
}

a {
    color: @blue2;
}

a:hover {
    color: @blue1;
}

#content .node {
    background-color: @lightGray;
    footer {
        background-color: @contentFooterBGC;
    }
}

ul.links.inline a {
    color: @gray1;
}
ul.links.inline a:hover {
    color: @blue3;
}

.taxonomy ul.links.inline li a {
    background-color: @blue2;
    .border-radius();
    color: @white;
    border: 1px solid @blue1;
    padding: 2px 5px;
}

.taxonomy ul.links.inline li a:hover {
    background-color: @blue1;
}

div.meta span.submitted {
    color: @gray2;
}

aside {
    ul.menu {
        a {
            color: @pink1;
        }
        ul a {
            color: @gray1;
        }
    }
}

#main > footer {
    border-top: 6px solid @footerBorderColor;
}
