body > header,
#nav-container,
#main,
#breadcrumbs,
#content .node .content,
#content .node footer,
body > footer,
section,
body > footer li {
    .clearfix;
}

#main {
    padding: 1.5em 1.5em;
}

#content .node {
    margin: 1em 0;
}

#content .node + .node {
    margin-top: 2em;
}

section h1 {
    margin-left: @gutter-width*1px;
}

body footer {
    .clolumn(12);

    .info, .contact, .syndication {
        .column(4);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }

}
