body > header,
#header-container,
#nav-container,
#content,
#content .node .content,
#content .node footer,
body > footer,
#footer-container,
#footer-container li {
    .clearfix;
}

#header-container,
#content,
#footer-container {
    margin: 0 auto;
}

#content {
    padding-top: 1em;
}

#content .node h2,
#content .node .taxonomy {
    margin: 0 0 0.5em 84px;
}

#content .node .icon-container {
    width: 64px;
    height: 64px;
    float: left;
    padding: 10px;
}

.taxonomy li a {
    .applyLabel;
}
