
@mainContentWidth: 998px;


@media all and (min-width: @BP2) {


    #main {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    #main > footer {
        margin-top: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    header {
        h1 a {
            margin-top: 1em;
        }

        .logo {
            float: left;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-right: 1em;
        }
    }

    #header-right{
        float: right;
        text-align: right;
    }

    section .table {
        width: 100%;
    }

    #content {
        .column(8);

        h2 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: 0;
        }

        .node {
            .drop-shadow();
            .border-radius();

            header {
                .boxSpacing();
                padding-bottom: 0; 
            }

            section, footer {
                .boxSpacing();
            }

            .submitted {
                margin-left: 1em;
                .column(10);
            }
        }
    }

    #main aside {
        .column(4);

        h2 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: 0;
        }

        .block {
            .box-sizing();
            padding-bottom: 1em;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        .content {
            margin: 0 0;
        }
    }

}
