
/* Typoghraphy */

body {
    font: (@fontSize)*1px/@lineHeight @bodyFont;
}

h1 {
    font-family: @mainHeaderFont;
}

h2,
h3,
h4 {
    font-family: @subHeaderFont;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

header nav a,
header nav a:hover,
h1 a,
h2 a,
h3 a,
.taxonomy li a {
    text-decoration: none;
}

.taxonomy li {
    font-size: 80%;
}

div.item-list ul li {
    list-style: none;
    list-style-type: none;
}

#user-login-form {
  //text-align: left !important;
}
